*.sw?
build*.mk
tpm2-tools-3.0.4/AUTHORS.md
tpm2-tools-3.0.4/CHANGELOG.md
tpm2-tools-3.0.4/CONTRIBUTING.md
tpm2-tools-3.0.4/INSTALL.md
tpm2-tools-3.0.4/LICENSE
tpm2-tools-3.0.4/MAINTAINERS.md
tpm2-tools-3.0.4/Makefile
tpm2-tools-3.0.4/Makefile.am
tpm2-tools-3.0.4/Makefile.in
tpm2-tools-3.0.4/README.md
tpm2-tools-3.0.4/RELEASE.md
tpm2-tools-3.0.4/aclocal.m4
tpm2-tools-3.0.4/autom4te.cache/
tpm2-tools-3.0.4/compile
tpm2-tools-3.0.4/config.guess
tpm2-tools-3.0.4/config.log
tpm2-tools-3.0.4/config.status
tpm2-tools-3.0.4/config.sub
tpm2-tools-3.0.4/configure
tpm2-tools-3.0.4/configure.ac
tpm2-tools-3.0.4/debian/.debhelper/
tpm2-tools-3.0.4/debian/autoreconf.after
tpm2-tools-3.0.4/debian/autoreconf.before
tpm2-tools-3.0.4/debian/debhelper-build-stamp
tpm2-tools-3.0.4/debian/tpm2-tools.substvars
tpm2-tools-3.0.4/debian/tpm2-tools/
tpm2-tools-3.0.4/depcomp
tpm2-tools-3.0.4/install-sh
tpm2-tools-3.0.4/lib/
tpm2-tools-3.0.4/libtool
tpm2-tools-3.0.4/ltmain.sh
tpm2-tools-3.0.4/m4/
tpm2-tools-3.0.4/man/
tpm2-tools-3.0.4/missing
tpm2-tools-3.0.4/test-driver
tpm2-tools-3.0.4/test-suite.log
tpm2-tools-3.0.4/test/
tpm2-tools-3.0.4/tools/
tpm2-tools_3.0.4-1.debian.tar.xz
tpm2-tools_3.0.4-1.diff.gz
tpm2-tools_3.0.4-1.dsc
tpm2-tools_3.0.4-1_amd64.build
tpm2-tools_3.0.4-1_amd64.buildinfo
tpm2-tools_3.0.4-1_amd64.changes
tpm2-tools_3.0.4-1_amd64.deb
tpm2-tools-release-deb-*.tar.gz
